
__pycache__/
*.py[cod]
migrations/

*.so

.Python
env/
.env
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
set_database.py
pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

*.mo
*.pot

# Sphinx documentation
docs/_build/

# PyBuilder
target/
lotin_krill.py

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
data_bot.py
.env
.venv
db.sqlite3
images
celerybeat-schedule
venv/
media/debug.log